.neetpg-schedule-container {
  padding: 4rem 0.5rem;
  text-align: center;
}

.neetpg-schedule-heading {
  font-size: 38px;
  color: #1d204b;
}

.neetpg-schedule-heading span {
  color: #1767be;
}

.neetpg-schedule-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.neetpg-schedule-image {
  width: 49%;
}

.neetpg-schedule-image img {
  width: 100%;
  border-radius: 10px;
}

/* ---------------------------- Responsive Style ------------------------ */
@media (max-width: 1440px) {
  .neetpg-schedule-section {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .neetpg-schedule-section {
    width: 90%;
  }
}

@media (max-width: 868px) {
  .neetpg-schedule-heading {
    font-size: 32px;
  }

  .neetpg-schedule-section {
    width: 95%;
    flex-wrap: wrap;
    gap: 20px;
  }

  .neetpg-schedule-image {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .neetpg-schedule-section {
    width: 100%;
  }
}
