.online-schedule-container {
  padding: 4rem 1rem;
}

.online-schedule-image {
  width: 50%;
  margin: 0 auto;
}

.online-schedule-image img {
  width: 100%;
  border-radius: 10px;
}

/* ---------------------------- Responsive Style ------------------------ */
@media (max-width: 1440px) {
  .online-schedule-image {
    width: 65%;
  }
}

@media (max-width: 1024px) {
  .online-schedule-image {
    width: 80%;
  }
}

@media (max-width: 868px) {
  .online-schedule-image {
    width: 100%;
  }
}

@media (max-width: 568px) {
}
