.wookbook-banner {
  width: 100%;
}

.wookbook-banner img {
  width: 100%;
}

.wookbook-content {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 1rem 0 1rem;
  text-align: center;
}

.wookbook-content h1 {
  font-size: 38px;
  color: #1d204b;
}

.wookbook-content h4 {
  font-size: 24px;
  color: #3f3f3f;
}

.wookbook-content p {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 1rem;
  color: #3f3f3f;
}

.wookbook-content-last {
  margin: 2rem 0 1rem 0;
}

/* ---------------------------- Responsive Style ------------------------ */
@media (max-width: 1440px) {
  .wookbook-content {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .wookbook-content {
    width: 95%;
  }
}

@media (max-width: 868px) {
  .wookbook-content {
    padding: 2.5rem 1rem 0 1rem;
  }

  .wookbook-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 568px) {
  .wookbook-content {
    width: 100%;
  }
}
