.bootcamp-container {
  width: 100%;
}

.bootcamp-content {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 1rem;
  text-align: center;
}

.bootcamp-content h1 {
  font-size: 38px;
  color: #1d204b;
  margin-bottom: 10px;
}

.bootcamp-content span {
  color: #1767be;
}

.bootcamp-content h3 {
  font-size: 22px;
  margin-bottom: 1rem;
  color: #3f3f3f;
}

.bootcamp-content p {
  font-size: 18px;
  line-height: 1.75;
  color: #3f3f3f;
}

/* ---------------------------- Responsive Styles ------------------------ */
@media (max-width: 1440px) {
  .bootcamp-content {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .bootcamp-content {
    width: 95%;
  }
}

@media (max-width: 868px) {
  .bootcamp-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 568px) {
  .bootcamp-content {
    width: 100%;
  }
}
