.your-mentors-container {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 1rem 0 1rem;
  text-align: center;
}

.your-mentors-content {
  width: 100%;
}

.your-mentors-content h2 {
  font-size: 38px;
  color: #1d204b;
}

.your-mentors-content span {
  color: #1767be;
}

.your-mentors-content h4 {
  font-size: 24px;
  color: #3f3f3f;
}

.your-mentors-content h3 {
  margin-top: 2rem;
  font-size: 28px;
  color: #3f3f3f;
}

.your-mentors-info {
  border-radius: 10px;
  padding: 1rem;
}

.dr-zainab-vora {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
  border-radius: 32px;
  background-color: #1767be;
  border: 2px solid #1d204b;
}

.dr-zainab-vora-image {
  width: 48%;
}

.dr-zainab-vora-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-bottom: -4px;
}

.dr-zainab-vora-info {
  width: 48%;
  text-align: start;
  padding: 1rem;
  /* color: #3f3f3f; */
  color: #fff;
}

.dr-zainab-vora-info h4 {
  font-size: 24px;
}

.dr-zainab-vora-info p {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 1rem;
}

.your-mentors-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2.5rem 0;
}

.your-mentors-card {
  /* background-color: #edf8ff;
  border: 2px solid #b0d4ec; */
  background-color: #1767be;
  border: 2px solid #1d204b;
  border-radius: 32px;
  padding: 1rem;
  /* color: #3f3f3f; */
  color: #fff;
}

.your-mentors-card img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  /* border-bottom: 4px solid #b0d4ec;
  border-radius: 50px; */
}

.your-mentors-card h4 {
  font-size: 24px;
}

.your-mentors-card p {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 1rem;
}

.your-mentors-container a {
  text-decoration: none;
  padding: 8px 16px;
  background-color: #1767be;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
}

/* ---------------------------- Responsive Style ------------------------ */
@media (max-width: 1440px) {
  .your-mentors-container {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .your-mentors-container {
    width: 95%;
  }
}

@media (max-width: 868px) {
  .your-mentors-container {
    padding: 2.5rem 1rem 0 1rem;
  }

  .your-mentors-content h2 {
    font-size: 32px;
  }

  .your-mentors-content h4 {
    font-size: 20px;
  }

  .dr-zainab-vora {
    flex-direction: column;
    gap: 0;
  }

  .dr-zainab-vora-image,
  .dr-zainab-vora-info {
    width: 100%;
    text-align: center;
  }

  .your-mentors-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 568px) {
  .your-mentors-container {
    width: 100%;
  }

  .your-mentors-cards {
    grid-template-columns: 1fr;
  }

  .dr-zainab-vora-image img,
  .your-mentors-card img {
    width: 310px;
    height: 300px;
  }
}
