.testimonials-container {
  width: 100%;
  background-color: #eeeaf8;
  padding: 4rem 0;
}

.testimonials-container h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 2rem;
}

.testimonials-slider-wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.testimonials-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-card {
  flex: 0 0 calc(100% / 3);
  padding: 20px;
  box-sizing: border-box;
}

.testimonial-text {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.testimonials-user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonials-user-info.top {
  margin-bottom: 15px;
}

.testimonials-user-info.bottom {
  margin-top: 15px;
}

.testimonials-user-info img {
  width: 80px;
  height: 80px;
  border-radius: 50px 50px 0 50px;
  object-fit: cover;
}

.testimonials-user-info h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.testimonials-user-info p {
  margin: 2px 0 0;
  font-size: 16px;
  color: #666;
}

.testimonials-navigation {
  display: flex;
  align-items: center;
  margin: 40px auto 0;
  width: 50%;
  gap: 20px;
}

.testimonials-line {
  flex: 1;
  height: 1px;
  background-color: #bbb;
}

.testimonials-nav-btn {
  background: linear-gradient(135deg, #8b5cf6, #6d28d9);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60% 40% 55% 45% / 45% 60% 40% 55%;
  transition: all 0.3s ease;
}

.testimonials-nav-btn:first-child {
  transform: rotate(-10deg);
}

.testimonials-nav-btn:last-child {
  transform: rotate(10deg);
}

.testimonials-nav-btn:hover {
  transform: scale(1.08);
}

/* ------------------------ Responsive Style --------------------- */
@media (max-width: 1024px) {
  .testimonials-slider-wrapper {
    width: 90%;
  }

  .testimonials-container h2 {
    font-size: 42px;
  }
}

@media (max-width: 868px) {
  .testimonials-slider-wrapper {
    width: 95%;
  }

  .testimonial-card {
    flex: 0 0 calc(100% / 2);
  }

  .testimonials-navigation {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .testimonials-container h2 {
    font-size: 32px;
  }

  .testimonials-navigation {
    width: 100%;
  }
}
